amqp==5.1.0
asgiref==3.8.1
async-timeout==4.0.2
attrs==23.2.0
billiard==3.6.4.0
black==22.3.0
celery==5.2.6
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
cron-descriptor==1.4.3
Deprecated==1.2.13
Django==5.0.6
django-celery-beat==2.6.0
django-filter==21.1
django-timezone-field==6.1.0
djangorestframework==3.15.2
exceptiongroup==1.2.1
h11==0.14.0
idna==3.3
importlib-metadata==4.11.3
kombu==5.2.4
lxml==4.8.0
Markdown==3.3.6
mypy-extensions==0.4.3
outcome==1.3.0.post0
packaging==21.3
pathspec==0.9.0
platformdirs==2.5.1
prompt-toolkit==3.0.29
psycopg2-binary==2.9.3
pyparsing==3.0.8
PySocks==1.7.1
python-crontab==2.6.0
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2022.1
requests==2.27.1
selenium==4.22.0
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.4.2
tomli==2.0.1
trio==0.25.1
trio-websocket==0.11.1
typing_extensions==4.1.1
tzdata==2024.1
urllib3==1.26.9
vine==5.0.0
wcwidth==0.2.5
webdriver-manager==4.0.1
websocket-client==1.8.0
wrapt==1.14.0
wsproto==1.2.0
zipp==3.8.0
